/* About component styles */
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  padding: 30px;
  line-height: 1.5;
}

.about-container img {
  max-width: 100%;
  height: auto; 
  transition: transform 0.3s ease; 
}

.about-container img:hover {
  transform: scale(1.03);
}

.sub-heading:hover{
  transform: scale(1.2);
}
.heading:hover{
  transform: scale(1.2);
}

@media (max-width: 640px){
  
  .child {
      width: 100%;
    }
  
  .heading{
    font-size: medium;
  }
  .sub-heading{
    font-size: small;
  }
  .about-container img {
    min-width: 100%;
    height: auto; 
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease; 
    padding: 10px;
  }
}
