nav {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    padding: 10px 20px;
    background-color: #007acc;
  }
  nav ul {
    list-style: none; /* Remove default list styling */
    display: flex; /* Display links in a row */
    gap: 15px; /* Space between each link */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    justify-content: space-around;
  }
  .dark-model{
    all: unset;
    background-color: transparent;
  }

  .dark-model:hover{
    all: unset;
  }
  nav ul li {
    display: inline;
  }
  
  nav ul li a {
    color: #fff; /* White text color for contrast */
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Make the links bold */
    padding: 8px 12px;
    transition: background-color 0.3s ease;
  }
  
  nav ul li a:hover {
    background-color: #ffffff; /* Lighter background on hover */
    color: #2e1212; /* Slightly lighter text color on hover */
  }

  @media (max-width: 640px) {
    .about-container {
      padding: 10px;
    }
    .navbar {
      font-size: small;
    }
    .about-container img {
      max-width: 70%;
    }
  }