 :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1;
  color-scheme: light dark;
  color: rgba(44, 17, 17, 0.87);
  background-color: f5faff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 

.dark-mode{
  color: rgba(237, 230, 230, 0.87);
  background-color: #242424;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
